.filterContainer {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid #adaeb1;
}

.states {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
}

.states p {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 0 10px;
}

.states p:first-child {
  font-size: xx-large;
  font-weight: bolder;
  margin-left: -10px;
  cursor: pointer;
}

.searchBar input {
  width: 100%;
  padding: 10px 10px;
  font-size: medium;
  border: none;
  outline: none;
  box-shadow: 0px 0px 25px rgba(124, 118, 118, 0.397);
  border-radius: 5px;
}

.date {
  padding: 5px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 25px rgba(124, 118, 118, 0.397);
}

.filterOptions {
  display: flex;
  justify-content: space-between;
  /* background-color: black; */
  /* width: 20%; */
  align-items: center;
}

.distButton button {
  padding: 5px 15px;
  margin-right: 30px;
  box-shadow: 3px 0px 10px rgba(104, 157, 184, 0.616);
  border: none;
  background-color: rgb(240, 64, 64);
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 2px;
}
