.cardContainer {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.noState {
  background-color: #ebe6e68c;
  text-align: center;
  padding: 25px 15px;
  color: #000000;
  font-size: larger;
  font-weight: 800;
  width: 50%;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 50px rgba(102, 101, 101, 0.788);
}

.card {
  width: 29rem;
  border-radius: 5px;
  margin: 15px;
  color: #1e3d59;
  box-shadow: 2px 1px 20px rgb(170, 169, 169);
}

.top {
  background-color: rgba(0, 0, 0, 0.842);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  color: aliceblue;
  text-align: center;
  font-size: medium;
  font-weight: 900;
  border-radius: 5px 5px 0 0;
}

.top h3 {
  cursor: pointer;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom div span {
  font-size: 20px;
  font-weight: bolder;
}

.bottom div p {
  font-size: larger;
  font-weight: 700;
  padding: 5px;
}

select {
  outline: none;
  padding: 5px;
}

.navigate {
  color: #2f2f3081;
  font-size: x-large;
  cursor: pointer;
}
