.detailedPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  margin-top: 20px;
}

th,
td {
  text-align: center;
  padding: 1rem 3rem;
  background-color: rgba(235, 230, 230, 0.658);
  border-radius: 5px;
  font-size: large;
}

td {
  font-weight: 600;
}
